@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0070C9;
  --dark: #14181F;
  --danger: #EF4444;
  --white: #ffffff;
  --grey: #4B5563;

}

@theme inline {
  --font-inter: var(--font-inter);
  --color-primary: var(--primary);
  --color-dark: var(--dark);
  --color-danger: var(--danger);
  --color-white: var(--white);
  --color-grey: var(--grey);
}